.header {
    .container {
        display: flex;
        padding: 20px;
        align-items: center;
    }

    &__nav {
        margin-left: 58px;
        display: flex;
        gap: 32px;
    }

    &__link {
        font-family: 'Space Mono';
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        color: #939CAA;

        &:hover {
            color: #FCB72B;
        }
    }

    &__get {
        font-family: 'Space Mono';
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        margin-left: 511px;
        padding: 14px 39px;
        border: 2px solid #FCB72B;
        background-color: #FCB72B;
        color: #FFFFFF;

        &:hover {
            background-color: #fff;
            color: #FCB72B;
        }
    }

    .modal {
        position: absolute;
        z-index: 888;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;


        &--open {
            display: flex;
        }

        &__inner {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 400px;
            padding: 30px;
            background-color: #fff;
            display: grid;
            gap: 20px;
        }

        &__heading {
            text-align: center;
            font-family: 'Space Mono';
        }

        .email {
            padding: 15px;
        }

        .btn {
            position: absolute;
            top: 5px;
            right: 10px;
            background: none;
            border: none;
            font-family: 'Space Mono';
            font-size: 24px;
        }

        .submit {
            background: none;
            border: none;
            background-color: #FCB72B;
            padding: 10px;
            border: 2px solid #FCB72B ;
            border-radius: 50px;
            color: #FFFFFF;
            font-family: 'Space Mono';
            font-size: 20px;

            &:hover {
                background-color: #fff;
                color: #FCB72B;
            }
        }
    }
}